<a href="https://colab.research.google.com/github/AnshSharma16/ML-Engineer-Roadmap/blob/main/04_data_processing_by_date.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

# Sample sales data
data = {
    "date": [
        "2024-01-01",
        "2024-01-01",
        "2024-01-02",
        "2024-01-03",
        "2024-01-03"
    ],
    "product": ["A", "B", "A", "C", "A"],
    "quantity": [2, 1, 1, 3, 2],
    "price": [100, 200, 100, 150, 100]
}

# Create DataFrame
df = pd.DataFrame(data)

# Save to CSV
df.to_csv("sales.csv", index=False)

print("sales.csv file created successfully")
print(df)

sales.csv file created successfully
         date product  quantity  price
0  2024-01-01       A         2    100
1  2024-01-01       B         1    200
2  2024-01-02       A         1    100
3  2024-01-03       C         3    150
4  2024-01-03       A         2    100

In [ ]:
import pandas as pd
from datetime import datetime

# -----------------------------
# Configuration
# -----------------------------
INPUT_FILE = "sales.csv"
OUTPUT_FILE = "daily_revenue.csv"

START_DATE = "2024-01-01"
END_DATE = "2024-01-03"

# -----------------------------
# Load data
# -----------------------------
df = pd.read_csv(INPUT_FILE)

# Convert date column to datetime
df["date"] = pd.to_datetime(df["date"])

# -----------------------------
# Feature engineering
# -----------------------------
df["revenue"] = df["quantity"] * df["price"]

# -----------------------------
# Aggregate by date
# -----------------------------
daily_revenue = (
    df.groupby("date", as_index=False)
      .agg(total_revenue=("revenue", "sum"))
)

# -----------------------------
# Filter by date range
# -----------------------------
start = pd.to_datetime(START_DATE)
end = pd.to_datetime(END_DATE)

filtered = daily_revenue[
    (daily_revenue["date"] >= start) &
    (daily_revenue["date"] <= end)
]

# -----------------------------
# Save output
# -----------------------------
filtered.to_csv(OUTPUT_FILE, index=False)

print("Daily revenue by date:")
print(filtered)
print(f"\nSaved results to {OUTPUT_FILE}")

Daily revenue by date:
        date  total_revenue
0 2024-01-01            400
1 2024-01-02            100
2 2024-01-03            650

Saved results to daily_revenue.csv

In [ ]:
df["revenue"] = df["quantity"] * df["price"]
grouped=df.groupby(["date","product"]).agg(
              total_quantity=("quantity","sum"),
              total_revenue=("revenue","sum")
              )
grouped

                    total_quantity  total_revenue
date       product
2024-01-01 A                     2            200
           B                     1            200
2024-01-02 A                     1            100
2024-01-03 A                     2            200
           C                     3            450